.recipe-image {
  max-width: 250px;
  height: auto;
}

.recipe-name-switch:hover {
  color: #da4c4c;
  cursor: pointer;
  text-decoration: underline;
}

.favorite-heart-outline:hover {
  color: #da4c4c;
  cursor: pointer;
}

.favorite-heart-full {
  color: #da4c4c;
}

.favorite-heart-full:hover {
  color: black;
  cursor: pointer;
}
