/* 
.recipe-header {
  margin: 0 4rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

/* .detail--container {
  padding: 0rem 2rem 0rem 0rem;
} */

/* .recipe-description {
  width: auto;
  margin-right: 2rem;
} */

@media only screen and (max-width: 600px) {
  .recipe-image,
  .edit-entry-image {
    display: flex;
    height: 100%;
    width: 100%;

    justify-content: center;
    object-fit: contain;
    align-content: center;
  }

  .recipes__header {
    text-align: center;
  }
  .recipe-entry {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px salmon dotted; */
  }

  .description-field {
    padding: 3rem 1rem;
    line-height: 28px;
  }

  .recipe-form {
    margin: 1rem;
    padding: 0.5rem 1rem 5rem 1rem;
    /* border: 1px black solid; */

    background-color: white;
    flex-basis: 50%;
  }

  .recipe-form__title {
    text-align: center;
  }

  .no-recipes {
    text-align: center;
    margin: 1rem 2.5rem;
  }
}

/* ---------------------- SCREEN SIZE DIVIDER ---------------------- */

@media only screen and (min-width: 601px) {
  .recipe-image,
  .edit-entry-image {
    width: 20rem;
    height: 20rem;
    justify-content: center;
    object-fit: cover;
    /* object-position: 100% 0; */
  }

  .recipes__header {
    text-align: center;
    margin: 5rem 0rem 5rem 0rem;
  }

  /* .recipe-name-switch {
    margin: 0rem 2rem 0rem 0rem;
  } */

  .recipe-entry {
    /* padding: 1rem; */
    margin: 0rem 0rem 4rem 0rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* border: 2px salmon dotted; */
  }

  .recipe-text-container {
    width: 100%;
    margin: 0 1.5rem 0 0;
    /* border: 2px solid darkcyan; */
  }

  .recipe-name-switch {
    /* margin-bottom: 1.5rem; */
    /* top: 0; */
    padding: 0;
  }

  .all-recipes {
    margin: 0rem 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .description-field {
    padding: 3rem 1rem;
    line-height: 28px;
  }

  .recipe-description {
    /* margin: 0 1rem 1.5 0; */
    /* border: 2px orange dashed; */
  }

  .recipe-form {
    margin: 2% 12%;
    padding: 3% 8%;

    background-color: white;
    flex-basis: 50%;
  }

  .recipe-form__title {
    text-align: center;
  }

  .no-recipes {
    text-align: center;
    /* margin: 1rem 2.5rem; */
  }
}

/* ---------------------- GLOBAL ---------------------- */

.recipe-name-switch:hover {
  color: #da4c4c;
  cursor: pointer;
  text-decoration: underline;
}

.favorite-heart-outline:hover {
  color: #da4c4c;
  cursor: pointer;
}

.favorite-heart-full {
  color: #da4c4c;
}

.favorite-heart-full:hover {
  color: black;
  cursor: pointer;
}

.button-group {
  flex-direction: row;
  max-width: fit-content;
  margin: 0 0 1rem 0;
  /* border: groove green 3px; */
}

.recipe-button {
  margin: 0rem 1rem 0rem 0rem;
}

.delete-button:hover {
  cursor: pointer;
  background-color: #da4c4c;
  color: white;
}

.edit-button:hover,
.toggle-button:hover {
  cursor: pointer;
  background-color: #e1a95f;
}

.cancel-button:hover {
  color: #da4c4c;
  cursor: pointer;
}

.save-button:hover {
  background-color: #e1a95f;
}
