.main-header {
  position: sticky top;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
}

.navbar__item {
  display: flex;
  flex-basis: 20%;
  list-style-type: none;
  justify-content: space-around;
}

.site-title {
  text-align: center;
  font-size: 5rem;
}

.site-subhead {
  text-align: center;
  font-size: 2.5rem;
}
