@media only screen and (max-width: 600px) {
  .main-header {
    position: sticky;
    top: 0;
    background-color: white;
    height: fit-content;
    background-color: #da4c4c;
    /* border: 3px orange dotted; */
  }
  .site-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
  }
  .site-title {
    font-size: 1.5rem;
    color: white;
    /* border: 1px blue solid; */
  }
  .site-subhead {
    font-size: 1.1rem;
    height: fit-content;
    color: white;
    /* border: 1px navy solid; */
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: initial;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    border-left: black 2px solid;
    /* border: 3px red dashed; */
  }
  .navbar__item {
    display: flex;
    flex-basis: 20%;
    list-style-type: none;
    margin: 0.25rem;
    /* border: 1px dashed lime; */
  }

  .navbar-collapse,
  .navbar-expand {
    display: flex;
    justify-content: center;
    align-self: center;
    /* border: 1px red dotted; */
  }

  .navbar-collapse:hover,
  .navbar-expand:hover {
    color: white;
    cursor: pointer;
  }
}

/* ------------------------- DEVICE SPLIT ------------------------- */

@media only screen and (min-width: 601px) {
  .site-text {
    background-color: #da4c4c;
    display: flex;
    position: sticky;
    top: 0;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
  }
  .main-header {
    position: sticky;
    top: 0;
    background-color: white;
    height: fit-content;
  }
  .site-title {
    color: white;
  }

  .site-subhead {
    color: white;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    overflow: initial;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    border-bottom: black 2px solid;
  }

  .navbar__item {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0.5rem 0rem;
    width: fit-content;
  }

  .navbar-collapse,
  .navbar-expand {
    display: flex;
    justify-content: center;
    border: 1px red dotted;
    align-self: center;
    width: 50%;
  }

  .navbar-collapse:hover,
  .navbar-expand:hover {
    color: #da4c4c;
    cursor: pointer;
  }
}

/* ------------------------- GLOBAL ------------------------- */
